// Default Font
$defaultfont: 'Poppins', sans-serif;

// Color Main Text
$colortext: #2A2D2E;
// ------------------------------------------------

// Media Quaries Variables
$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
// ------------------------------------------------

// Color Scheme
$colorHeaderOverlay: #14171e;
$white_color: #ffffff;
$purple_color: #7443ff;
$dark_gray_color: #14171e;
